header 
  h1= pageTitle
  nav 
    ul 
      li 
        a(href="/videos/upload") Upload Video
      li
        if (pageTitle !== "Home")
          a(href="/") Home
      li
        a(href="/search") Search
